.TrafficLight {
    height: 100px;
    width: 300px;
    margin: 25% auto;
    background-color: lawngreen;
    display: flex;
}

.Blue {
    background-color: blue;
}

.Violet {
    background-color: violet;
}

.Salmon {
    background-color: salmon;
}
