.SideDrawer {
    width: 280px;
    max-width: 70%;
    height: 100%;
    z-index: 200;
    background-color: seashell;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}
