.Circle {
    width: 80px;
    height: 80px;
    border-radius: 80px ;
    margin-left: 28px;
    margin-top: 4px;
    background-color: tomato;
    float: left;
}

.green {
    background-color: darkgreen;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: salmon;
}

.black {
    background-color: black;
}