.Circle {
    width: 80px;
    height: 80px;
    border-radius: 80px ;
    margin-left: 28px;
    margin-top: 4px;
    float: left;
}

.Green {
    background-color: darkgreen;
}

.Yellow {
    background-color: darkorange;
}

.Red {
    background-color: salmon;
}
